NODE_VERSION=22.16.0
NEXT_TELEMETRY_DISABLED=1
APP_ENV=production

APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://eghhzvpnwjlfwgqcyhcf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVnaGh6dnBud2psZndncWN5aGNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0NzU5MjEsImV4cCI6MjA5ODA1MTkyMX0.N20X4Kc6GWq-F32K1f-06jWayzc6JvuQ-q2n1LbSoMc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVnaGh6dnBud2psZndncWN5aGNmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQ3NTkyMSwiZXhwIjoyMDk4MDUxOTIxfQ.ilw3Vgp03CnawTfqy6PznEeoraELCUjfD80Jg5BT4N4

KEY_VAULTS_SECRET=rr_whsec_8f4d2c9a7b6e1f0d3a5c9e8b2f7a6d1c4e9f0b8a3d6c2e7f9a1b5c8d4e6f0a2

TELEGRAM_BOT_TOKEN=8946292833:AAFhA2AwBMkrSpO6otoP_-p8ZhK3JEnsfdk
TELEGRAM_WEBHOOK_SECRET=rr_whsec_8f4d2c9a7b6e1f0d3a5c9e8b2f7a6d1c4e9f0b8a3d6c2e7f9a1b5c8d4e6f0a2
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=vexahelp_bot

DATABASE_URL=postgresql://postgres.eghhzvpnwjlfwgqcyhcf:!Jktyxer15432680@aws-1-eu-central-1.pooler.supabase.com:5432/postgres

TELEGRAM_API_ID=39571727
TELEGRAM_API_HASH=bddae3294fd1d41c67be46f10d44ee4d
TELEGRAM_SESSION_STRING=1ApWapzMBuwSXaxhOu1Q7zSvDwIXzhmOhc2ZXcAqX-vclNpFkspsPEfsf_-l3XgTO0_j3H_wuFpQLagPXzXVpK4uMX0EeMUxHcaLFrgVcQPOOQR8I_exFvG-9SO0vST4FLRNBDl0HY50KQYW3y-G6zcWSwcVLP3fKh_ssC1i5_lavJINdySdkFfbBrDfPAVqitoafVU_wjE-AYw4epX-LTKvJ_oZ74KWgTNm5X3eO58aGH8iLimhJDxom8tXy2LadpOfpULE5Q_VzagfZ4q3KelZWnZcWCiWs71RT7ysErC7m9HaBPTXrjMqycmZpBXdHhTkq6pvEqzeECiMKZpWi3xKiquZYhcQ=